.box-container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    padding: 70px 20%;
}

.box1{
    text-align: left;
    border: none;
    position: relative;
    border-radius: 2px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    text-decoration: none;
    text-align: center;
}

.method{
    font-size: 20px;
}

.head{
    font-size: 35px;
}

.ingredients{
    font-size: 25px;
}
.time{
    font-size: 25px;
    font-weight: 100;
}