.navbar {
    overflow: auto;
    background-color: rgb(88,36,156);
    padding: 5px 20%;
    position: relative;
  }

  .heading{
    font-size: 32px;
    color: #fff;
    position: relative;
    float: left;
  }
