.navbar {
    overflow: hidden;
    background-color: rgb(88,36,156);
    padding: 7px 20%;
  }

  .heading{
    font-size: 32px;
    color: #fff;
  }

  .createbtn:hover{
    background-color: rgb(106, 59, 167); 
  }

  .theme{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 26px;
    padding-right: 30px;
  }

  .theme i{
    font-size: 25px;
    cursor: pointer;
  }

