.navbar {
    overflow: auto;
    background-color: rgb(88,36,156);
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
  }

  .heading{
    font-size: 32px;
    color: #fff;
    position: relative;
    font-weight: 1000;
    float: left;
  }
  .create-button-container {
    float: right;
    padding-top: 20px;

    position: relative;
    overflow: hidden;
    padding-left: 35px;
  }
  .createbtn{
    background-color: rgb(88,36,156); 
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 100  ;
    cursor: pointer;
    letter-spacing:1px;
  }
  .createbtn:hover{
    background-color: rgb(106, 59, 167); 
  }